# Prediabetes Risk Assessment
---

### Introduction
---
This project aims to assess the risk of prediabetes among Indian youngsters aged from 15-25 based on various health and lifestyle factors. The dataset contains information on age, gender, region, family income, family history of diabetes, genetic risk score, BMI, physical activity level, dietary habits, fast food intake, smoking status, alcohol consumption, fasting blood sugar, HbA1c, cholesterol level, sleep hours, stress level, and screen time.

By analyzing this data, I aim to identify key factors that contribute to the risk of prediabetes and develop predictive models to assess individual risk levels. This can help in early detection and preventive measures to reduce the incidence of diabetes.

---
## 1.) Import Required Packages

####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
import os
warnings.filterwarnings('ignore')

---
## 2.) Data Collection
- Dataset Source -https://www.kaggle.com/datasets/ankushpanday1/diabetes-in-youth-vs-adult-in-india
- The data consists of 22 column and 100000 rows.

#### Import the CSV Data as Pandas DataFrame

In [14]:
df=pd.read_csv('../data/raw_data/indian_youngsters_health_data.csv')

#### Show Top 5 Records

In [15]:
df.head()

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,NaN,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,NaN,7.7,7,6.8
1,2,18,Female,Central,387650,No,NaN,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,NaN,7.9,8,6.0
2,3,25,Male,North,383333,No,NaN,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,NaN,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,NaN,9.5,2,10.9
4,5,19,Male,Central,1449463,No,NaN,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,NaN,6.4,2,1.3

#### Shape of the dataset

In [16]:
df.shape

(100000, 22)

### 2.1 Dataset information

- ID: Unique identifier for each record.
- Age: Age of the individual (15-25 years).
- Gender: Gender of the individual: Male, Female, or Other.
- Region: Region in India where the individual resides.
- Family_Income: Annual family income in INR.
- Family History of Heart Disease: Indicates if there is a family history of diabetes: Yes or No.
- Parent_Diabetes_Type: Indicates if parents have diabetes and its type: Type 1, Type 2, or None.
- Genetic_Risk_Score: A numeric score (1-10) indicating genetic predisposition to diabetes.
- BMI: Body Mass Index, a measure of body fat based on height and weight.
- Physical_Activity_Level: Level of physical activity: Sedentary, Moderate, or Active.
- Dietary_Habits: Dietary habits: Healthy, Unhealthy, or Mixed.
- Fast_Food_Intake: Frequency of fast food intake: Rarely, Occasionally, or Frequently.
- Smoking: Smoking status: Yes or No.
- Alcohol_Consumption: consumption of alcohol: Yes or No.
- Fasting_Blood_Sugar: Fasting blood sugar level in mg/dL.
- HbA1c: Glycated hemoglobin level in %.
- Cholesterol_Level: Cholesterol level in mg/dL.
- Prediabetes: Indicates if the individual has prediabetes: Yes or No.
- Diabetes_Type: Indicates the type of diabetes: Type 1, Type 2, or None.
- Sleep_Hours: Average hours of sleep per night.
- Stress_Level: A numeric score (1-10) indicating Level of stress.
- Screen_Time: Average hours of screen time per day.

---
## 3.) Data Checks to perform

- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of data set

### 3.1 Check Missing values

In [17]:
df.isna().sum()

ID                             0
Age                            0
Gender                         0
Region                         0
Family_Income                  0
Family_History_Diabetes        0
Parent_Diabetes_Type       65097
Genetic_Risk_Score             0
BMI                            0
Physical_Activity_Level        0
Dietary_Habits                 0
Fast_Food_Intake               0
Smoking                        0
Alcohol_Consumption            0
Fasting_Blood_Sugar            0
HbA1c                          0
Cholesterol_Level              0
Prediabetes                    0
Diabetes_Type              74776
Sleep_Hours                    0
Stress_Level                   0
Screen_Time                    0
dtype: int64

### Missing Values are Found So Handling The Missing Values

In [18]:
df['Parent_Diabetes_Type'].fillna('No Diabetes',inplace=True)
df['Diabetes_Type'].fillna('No Diabetes',inplace=True)

### Ensure No More Missing values

In [19]:
df.isna().sum()

ID                         0
Age                        0
Gender                     0
Region                     0
Family_Income              0
Family_History_Diabetes    0
Parent_Diabetes_Type       0
Genetic_Risk_Score         0
BMI                        0
Physical_Activity_Level    0
Dietary_Habits             0
Fast_Food_Intake           0
Smoking                    0
Alcohol_Consumption        0
Fasting_Blood_Sugar        0
HbA1c                      0
Cholesterol_Level          0
Prediabetes                0
Diabetes_Type              0
Sleep_Hours                0
Stress_Level               0
Screen_Time                0
dtype: int64

#### There are no missing values in the data set

### 3.2 Check Duplicates

In [20]:
df.duplicated().sum()

0

#### There are no duplicates  values in the data set

### 3.3 Check data types

In [21]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       100000 non-null  int64
 1   Age                      100000 non-null  int64
 2   Gender                   100000 non-null  object
 3   Region                   100000 non-null  object
 4   Family_Income            100000 non-null  int64
 5   Family_History_Diabetes  100000 non-null  object
 6   Parent_Diabetes_Type     100000 non-null  object
 7   Genetic_Risk_Score       100000 non-null  int64
 8   BMI                      100000 non-null  float64
 9   Physical_Activity_Level  100000 non-null  object
 10  Dietary_Habits           100000 non-null  object
 11  Fast_Food_Intake         100000 non-null  int64
 12  Smoking                  100000 non-null  object
 13  Alcohol_Consumption      100000 non-null  object
 14  Fasting_Blood_Sugar      100000 non-null  float64
 15  HbA1c                    100000 non-null  float64
 16  Cholesterol_Level        100000 non-null  float64
 17  Prediabetes              100000 non-null  object
 18  Diabetes_Type            100000 non-null  object
 19  Sleep_Hours              100000 non-null  float64
 20  Stress_Level             100000 non-null  int64
 21  Screen_Time              100000 non-null  float64
dtypes: float64(6), int64(6), object(10)
memory usage: 16.8+ MB

### 3.4 Checking the number of unique values of each column

In [22]:
df.nunique()

ID                         100000
Age                            11
Gender                          3
Region                          6
Family_Income               98018
Family_History_Diabetes         2
Parent_Diabetes_Type            3
Genetic_Risk_Score             10
BMI                           241
Physical_Activity_Level         3
Dietary_Habits                  3
Fast_Food_Intake               11
Smoking                         2
Alcohol_Consumption             2
Fasting_Blood_Sugar          1101
HbA1c                          61
Cholesterol_Level            1801
Prediabetes                     2
Diabetes_Type                   3
Sleep_Hours                    61
Stress_Level                   10
Screen_Time                   111
dtype: int64

### 3.5 Check statistics of data set

In [23]:
df.describe()

,ID,Age,Family_Income,Genetic_Risk_Score,BMI,Fast_Food_Intake,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Sleep_Hours,Stress_Level,Screen_Time
count,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000
mean,50000.500000,20.007890,1.299440e+06,5.505340,28.028089,4.988580,125.072216,7.006461,209.903952,6.988082,5.50681,6.503842
std,28867.657797,3.154934,6.919403e+05,2.872218,6.924196,3.169762,31.788613,1.735327,52.049374,1.734122,2.87943,3.170210
min,1.000000,15.000000,1.000040e+05,1.000000,16.000000,0.000000,70.000000,4.000000,120.000000,4.000000,1.00000,1.000000
25%,25000.750000,17.000000,7.022028e+05,3.000000,22.100000,2.000000,97.600000,5.500000,164.800000,5.500000,3.00000,3.800000
50%,50000.500000,20.000000,1.299990e+06,6.000000,28.000000,5.000000,125.200000,7.000000,209.800000,7.000000,6.00000,6.500000
75%,75000.250000,23.000000,1.898916e+06,8.000000,34.000000,8.000000,152.600000,8.500000,255.000000,8.500000,8.00000,9.300000
max,100000.000000,25.000000,2.499974e+06,10.000000,40.000000,10.000000,180.000000,10.000000,300.000000,10.000000,10.00000,12.000000

---
## 4.) Saving the Processed data

In [12]:
save_location = '../data/processed_data/indian_youngsters_health_data.csv'
os.makedirs(os.path.dirname(save_location), exist_ok=True)  # Ensure the directory exists
df.to_csv(save_location, index=False)