### 1.) Import Data and Required Packages
####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Import the CSV Data as Pandas DataFrame

In [4]:
df=pd.read_csv('../data/indian_youngsters_health_data.csv')

#### Show Top 5 Records

In [5]:
df.head()

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,NaN,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,NaN,7.7,7,6.8
1,2,18,Female,Central,387650,No,NaN,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,NaN,7.9,8,6.0
2,3,25,Male,North,383333,No,NaN,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,NaN,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,NaN,9.5,2,10.9
4,5,19,Male,Central,1449463,No,NaN,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,NaN,6.4,2,1.3

#### Shape of the dataset

In [6]:
df.shape

(100000, 22)

### 2.) Dataset information

- ID: Unique identifier for each record.
- Age: Age of the individual (15-25 years).
- Gender: Gender of the individual: Male, Female, or Other.
- Region: Region in India where the individual resides.
- Family_Income: Annual family income in INR.
- Family History of Heart Disease: Indicates if there is a family history of diabetes: Yes or No.
- Parent_Diabetes_Type: Indicates if parents have diabetes and its type: Type 1, Type 2, or None.
- Genetic_Risk_Score: A numeric score (1-10) indicating genetic predisposition to diabetes.
- BMI: Body Mass Index, a measure of body fat based on height and weight.
- Physical_Activity_Level: Level of physical activity: Sedentary, Moderate, or Active.
- Dietary_Habits: Dietary habits: Healthy, Unhealthy, or Mixed.
- Fast_Food_Intake: Frequency of fast food intake: Rarely, Occasionally, or Frequently.
- Smoking: Smoking status: Yes or No.
- Alcohol_Consumption: consumption of alcohol: Yes or No.
- Fasting_Blood_Sugar: Fasting blood sugar level in mg/dL.
- HbA1c: Glycated hemoglobin level in %.
- Cholesterol_Level: Cholesterol level in mg/dL.
- Prediabetes: Indicates if the individual has prediabetes: Yes or No.
- Diabetes_Type: Indicates the type of diabetes: Type 1, Type 2, or None.
- Sleep_Hours: Average hours of sleep per night.
- Stress_Level: A numeric score (1-10) indicating Level of stress.
- Screen_Time: Average hours of screen time per day.

In [7]:
df.isna().sum()

ID                             0
Age                            0
Gender                         0
Region                         0
Family_Income                  0
Family_History_Diabetes        0
Parent_Diabetes_Type       65097
Genetic_Risk_Score             0
BMI                            0
Physical_Activity_Level        0
Dietary_Habits                 0
Fast_Food_Intake               0
Smoking                        0
Alcohol_Consumption            0
Fasting_Blood_Sugar            0
HbA1c                          0
Cholesterol_Level              0
Prediabetes                    0
Diabetes_Type              74776
Sleep_Hours                    0
Stress_Level                   0
Screen_Time                    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       100000 non-null  int64
 1   Age                      100000 non-null  int64
 2   Gender                   100000 non-null  object
 3   Region                   100000 non-null  object
 4   Family_Income            100000 non-null  int64
 5   Family_History_Diabetes  100000 non-null  object
 6   Parent_Diabetes_Type     34903 non-null   object
 7   Genetic_Risk_Score       100000 non-null  int64
 8   BMI                      100000 non-null  float64
 9   Physical_Activity_Level  100000 non-null  object
 10  Dietary_Habits           100000 non-null  object
 11  Fast_Food_Intake         100000 non-null  int64
 12  Smoking                  100000 non-null  object
 13  Alcohol_Consumption      100000 non-null  object
 14  Fasting_Blood_Sugar      100000 non-null  float64
 15  HbA1c                    100000 non-null  float64
 16  Cholesterol_Level        100000 non-null  float64
 17  Prediabetes              100000 non-null  object
 18  Diabetes_Type            25224 non-null   object
 19  Sleep_Hours              100000 non-null  float64
 20  Stress_Level             100000 non-null  int64
 21  Screen_Time              100000 non-null  float64
dtypes: float64(6), int64(6), object(10)
memory usage: 16.8+ MB